<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcordeiro.android.InthegraApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:minSdkVersion="8">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeKpvl_wOh2_mj-piaw0FrVEf5C_sgSaU" />


        <activity android:name=".Activities.inicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.MenuPrincipalActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Linhas.LinhasMapaActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Linhas.LinhasMenuActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Linhas.LinhasDetailActivity" android:screenOrientation="nosensor"/>

        <activity android:name=".Activities.Paradas.ParadasMenuActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Paradas.ParadasDetailActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Paradas.ParadasMapaActivity" android:screenOrientation="nosensor"/>

        <activity android:name=".Activities.Veiculos.VeiculosMapaActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Veiculos.VeiculosMenuActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Rotas.RotasMenuActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Rotas.RotasSelecionarOrigemActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Rotas.RotasSelecionarDestinoActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Rotas.RotasSelecionarRotaActivity" android:screenOrientation="nosensor"/>
        <activity android:name=".Activities.Rotas.RotasMapaActivity" android:screenOrientation="nosensor"/>

        <service
            android:name="com.hcordeiro.android.InthegraApp.Util.FCM.ListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.hcordeiro.android.InthegraApp.Util.FCM.InstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>