<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcordeiro.android.InthegraApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DisplayMenuParadasActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DisplayMenuLinhasActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DetailParadaActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DetailLinhaActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC59hde9AxYwSzd_0ccclrAZociQr4PcJk" />

        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DisplayMapaParadaActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DisplayMenuVeiculosActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DetailVeiculosActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DisplayMenuRotasActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.SelecionarOrigemActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.SelecionarDestinoActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.GerarRotaActivity" />
        <activity android:name="com.hcordeiro.android.InthegraApp.Activities.DetailRotaActivity"/>
    </application>

</manifest>